#mymidcolumn {
	padding-left: 17px !important;
	border-right:1px solid #CFCFCF;	
	padding-right:10px;
	width:80%;
	margin-right:-20%;
}
#myrightcolumn{
	width:15%;
	padding:0 10px 0 10px;
	vertical-align:top;
}
.sideitem{
	margin-top:0px !important;
		width:100%;
}
.feedbackButton {
	position: absolute;
	top: 0;
	left: 300px;
}
h4 {
	font-size: 125%;
	font-weight: bold;
	margin: 0;
}

.smallLinks {
	font-size: 80%;
}

.sectionTitle {
	padding:0;
	border-bottom:2px solid #49457C;
}

.sectionTitle h4, .sectionTitle a h4, .sectionTitle a:hover h4, .sectionTitle a:visited h4, .sectionTitle a:link h4, .sectionTitle a:active h4
{
	font-size:110% !important;
	line-height:140%;
}

.tracks .sectionTitle{
	border:0;	
}

.divider {
	border-bottom: 1px solid #DFDFDF;
}

.downloadSection {
	padding: 10px;
	padding-left: 17px;
	margin-bottom:20px;
	clear:both;
}

.downloadDescription {
	margin-right:215px;
	float:left;
}

.screens {
	float: left;
	margin-left:-200px;
	width:200px;
}

.featuredItem {
	width:50%;
	padding-left:25px;
	vertical-align:top;
}

.featuredItemContents {
	padding-left:5px;
	padding-right:10px;
}

.featuredItemTitle {
	padding: 0 0 0 5px;
	margin: 0;
	font-size: 120%
}

.featuredItemImage {
	margin: 5px 5px;
	float:left;
	vertical-align:middle;
}


.announcements {
	width:50%;
	vertical-align:top;
}
.announcementsContent {
	padding-bottom:5px;

}

.announcementsContent ul li {
	padding:2px 0 4px 4px;
	border-top: 1px solid #EFEFEF;
	list-style-type :none !important;
	list-style-image:none !important;
	margin-left: 0 !important;	
}

.announcementsContent .posted {
	font-size:75%;
}

.epicPlugins {
	padding-top:25px;
	vertical-align:top;
	width:50%;
}

.epicPluginsContent {

	border-top:0;	
}

.epicPluginsContent .posted {
	font-size:75%;
}

.epicPluginsContent .rowColor1
{
	background-color:#FFF;
}


.epicPluginsContent ul li {
	padding:0 0 4px 4px;
	border-top: 1px solid #EFEFEF;
	list-style-type :none !important;
	list-style-image:none !important;
	margin-left: 0 !important;	
}

.epicLegend {
	border-top:1px solid #EFEFEF;
	font-size:75%;	
	padding-left:2px;
	float:left;
}
.communityNews {
	padding-top:25px;	
	vertical-align:top;
	padding-left:25px;
	width:50%;	
}

.communityNewsContent {

	border-top:0px;	
}

.communityNewsContent ul li{
	padding:2px 0 4px 4px;
	list-style-type :none !important;
	list-style-image:none !important;
	margin-left: 0px !important;
	border-top: 1px solid #EFEFEF;	
}

.communityNewsContent .posted{
	font-size:75%;
}


.rowColor1
{
	background-color:#FFF;
}

.rowColor2
{
	background-color:#FFF;	
}

.sideitem .rowColor1{
	background-color:#FFF;	
}

.tracks {
	clear: both;
}

.more {
	font-size:75%;
	text-align:right;
	vertical-align:bottom;
	padding-top:5px;
	border-top: 1px solid #EFEFEF;		
}

.sideitem .more{
	border:0px;	
}

.spacer {
	line-height:85%;	
}

.trackIcon {
	vertical-align: bottom;
	font-size: 85%;
	padding: 3px;
}

.posted {
	font-size: 90%;
	display:inline;
	color:#6F6F6F;
}

.version {
	font-size:80%;
	color:#FF8D00;
}

.spotlight {
	padding-top:20px;
	text-align: center;
}

.rssIcon {
	position: relative;
	top: 3px;
	right: 4px;
}

#countdown {
	color: #FFFFFF;
	background-color:#0D0021;
	width:175px;
	font-size:16px;
	font-weight:bold;
	text-align:center;
}

.countdownBox {
	font-size:25px;
	font-weight:bold;	
	padding-left:5px;
	padding-top:5px;
}

.eclipseConHeader {
	background:#000;
	display:table;
	width:100%;
	color:#FFF;
	font-size:130%;
	border-bottom:1px solid #FFF;
}

.registerNow {
	text-align:right;
}

.econDate {
	font-weight:bold;
}