a { text-decoration: none; }
a:link { color: #336; }
a:visited { color: #336; }
a:hover ,
a:active { color: #336; text-decoration: underline; }

span.article_seperator {
	display: block;
	border-bottom: 1px dashed #aac;
	margin-top: 3px;
}

ul, li {list-style-type: none; margin: 0; padding: 0;}

.lefttable {
	font-family: arial,sans-serif;
	border: 1px solid #ccc;
	width: 663px;
}

.header_top{
	width: 890px;
	height: 120px;
	background: url('img/resources.png') no-repeat left center;
}

img {border: 0px;}

.header_right{
	border: 1px solid #ccc;
	width: 210px;
	font-size: 11px;
	float: right;
	font-family: arial,sans-serif;
}
.header_right a { font-weight: normal; text-decoration: none;}
.header_right a:link { color: #000; }
.header_right a:visited { color: #000; }
.header_right a:hover ,
.header_right a:active { color: #000; text-decoration: underline; }

.title a { font-weight: bold; text-decoration: none; }
.title a:link { color: #336; }
.title a:visited { color: #336; }
.title a:hover ,
.title a:active { color: #336; text-decoration: underline; }

.titleclick{
	background: url('img/header_bg2.png') repeat-x;
	color: #669;
	font-size: 12px;
	padding-left: 10px;
}

.titleclickfont{
	font-size: 12px;
}

.invis{
	background: #efefef;
	font-size: 12px;
	border: 1px dashed #ccc;
	margin: 7px;
	padding: 3px;
	text-align: justify;
}

.auth{
	color: #336;
	font-size: 12px;
}

.auth a { font-weight: normal; text-decoration: none; }
.auth a:link { color: #336; }
.auth a:visited { color: #336; }
.auth a:hover ,
.auth a:active { color: #336; text-decoration: underline; }

.link{
	white-space: nowrap;
	width: 100%;
	overflow: hidden;
}

.alt{
	font-size: 8pt;
	color: #336;
	text-transform: capitalize;
	padding-left: 10px;
}

.alt2{
	font-size: 8pt;
	color: #336;
	text-transform: capitalize;
}

#header-global-links{font-size: 0.80em !important;}

#header img {	behavior: url('/eclipse.org-common/themes/Phoenix/iepngfix.htc') !important;}

#header-nav ul li a {font-size: 0.60em !important;}

#leftnav{font-size: 10pt !important;}

#footernav{font-size: 10px !important;}